<%- include('partials/header') -%>

<h1> <%= blogPostTitle %> </h1>
<h5 class="blog-text"> <%= blogPostContent %> </h5>
<div class="container-fluid img-holder" style="
background-image: url('../uploads/<%= blogPostImg %>');
"></div>

<%- include('partials/footer') -%>